(
    variants: [
        (
            id: "default",
            tilemap: (
                width: 3,
                height: 2,
                tiles: [
                    [
                        (
                            tile_type: r#None,
                            color: (0.0, 0.0, 0.0, 0.0),
                            is_walkable: false,
                            is_solid: false,
                        ),
                        (
                            tile_type: r#None,
                            color: (0.0, 0.0, 0.0, 0.0),
                            is_walkable: false,
                            is_solid: false,
                        ),
                        (
                            tile_type: r#None,
                            color: (0.0, 0.0, 0.0, 0.0),
                            is_walkable: false,
                            is_solid: false,
                        ),
                    ],
                    [
                        (
                            tile_type: r#None,
                            color: (0.0, 0.0, 0.0, 0.0),
                            is_walkable: false,
                            is_solid: false,
                        ),
                        (
                            tile_type: r#None,
                            color: (0.0, 0.0, 0.0, 0.0),
                            is_walkable: false,
                            is_solid: false,
                        ),
                        (
                            tile_type: r#None,
                            color: (0.0, 0.0, 0.0, 0.0),
                            is_walkable: false,
                            is_solid: false,
                        ),
                    ],
                ],
                background: (0.78, 0.78, 0.78, 1.0),
            ),
        ),
    ],
)