(position:(10.0,10.0),tile_size:32.0,columns:2,rows:1,selected_index:0,entries:[(def_id:("a49ded51-19e6-4784-b110-269af0080737"),sprite_id:("77c15dd4-b812-4c1b-885b-37d914ecc7c2"),sprite_path:"/Users/charliesovn/Projects/Aseprite/Tile1.png")],edit_requested:false,delete_requested:None)