(
    save_version: 1,
    id: "a519650f-0cf4-4f12-9cf9-1808968e7ccd",
    name: "Demo",
    worlds: [
        /*[0]*/ (
            id: "3dba4fc8-0def-43ef-a7e4-985eed0ef718",
            name: "new",
            world_ecs: (
                components: [
                    /*[0]*/ (
                        type_name: "Sprite",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[1]*/ (
                        type_name: "Player",
                        data: "(\n    data: {\n        (2): (),\n    },\n)",
                    ),
                    /*[2]*/ (
                        type_name: "Animation",
                        data: "(\n    data: {\n        (2): (\n            clips: {\n                Idle: (\n                    frame_size: (6.0, 16.0),\n                    cols: 5,\n                    rows: 1,\n                    fps: 4.0,\n                    looping: true,\n                    offset: (0.0, 0.0),\n                ),\n            },\n            variant: (\"animations/male\"),\n        ),\n    },\n)",
                    ),
                    /*[3]*/ (
                        type_name: "PhysicsBody",
                        data: "(\n    data: {\n        (2): (),\n    },\n)",
                    ),
                    /*[4]*/ (
                        type_name: "Collider",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[5]*/ (
                        type_name: "RoomCamera",
                        data: "(\n    data: {\n        (1): (\n            zoom: (0.0078125, 0.0125),\n            room_id: 0,\n            zoom_mode: Step,\n            camera_mode: Fixed,\n        ),\n    },\n)",
                    ),
                    /*[6]*/ (
                        type_name: "CurrentRoom",
                        data: "(\n    data: {\n        (2): (0),\n        (1): (0),\n    },\n)",
                    ),
                    /*[7]*/ (
                        type_name: "Glow",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[8]*/ (
                        type_name: "Light",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[9]*/ (
                        type_name: "Position",
                        data: "(\n    data: {\n        (1): (\n            position: (0.0, 0.0),\n        ),\n        (2): (\n            position: (64.0, 144.0),\n        ),\n    },\n)",
                    ),
                    /*[10]*/ (
                        type_name: "CurrentFrame",
                        data: "(\n    data: {\n        (2): (),\n    },\n)",
                    ),
                    /*[11]*/ (
                        type_name: "Velocity",
                        data: "(\n    data: {\n        (2): (\n            x: 0.0,\n            y: 0.0,\n        ),\n    },\n)",
                    ),
                    /*[12]*/ (
                        type_name: "Layer",
                        data: "(\n    data: {},\n)",
                    ),
                ],
                tile_defs: {
                    (1): (
                        sprite_id: (3),
                        components: [
                            /*[0]*/ Walkable(false),
                            /*[1]*/ Solid(true),
                        ],
                    ),
                },
                next_entity_id: 2,
            ),
            rooms: [
                /*[0]*/ (
                    id: 0,
                    name: "untitled",
                    position: (
                        0.0,
                        0.0,
                    ),
                    size: (
                        16.0,
                        10.0,
                    ),
                    exits: [],
                    adjacent_rooms: [],
                    variants: [
                        /*[0]*/ (
                            id: "default",
                            tilemap: (
                                width: 16,
                                height: 10,
                                tiles: {
                                    (
                                        7,
                                        9,
                                    ): (1),
                                    (
                                        12,
                                        9,
                                    ): (1),
                                    (
                                        6,
                                        9,
                                    ): (1),
                                    (
                                        10,
                                        9,
                                    ): (1),
                                    (
                                        8,
                                        9,
                                    ): (1),
                                    (
                                        9,
                                        9,
                                    ): (1),
                                    (
                                        11,
                                        9,
                                    ): (1),
                                },
                                background: (
                                    0.78,
                                    0.78,
                                    0.78,
                                    1.0,
                                ),
                            ),
                        ),
                    ],
                    darkness: 0.0,
                ),
            ],
            starting_room: Some(0),
            starting_position: Some((
                1.0,
                1.0,
            )),
        ),
    ],
    asset_manager: (
        sprite_id_to_path: {
            (2): "animations/male/Idle.png",
            (1): "sprites/cat.png",
            (3): "tile_sprites/Tile1.png",
        },
        game_name: "Demo",
    ),
    current_world_id: "3dba4fc8-0def-43ef-a7e4-985eed0ef718",
    tile_size: 16.0,
)