(
    save_version: 1,
    id: "fb8feb46-4ceb-4c3a-8f08-a43adca90d2d",
    name: "Demo",
    worlds: [
        /*[0]*/ (
            id: "85ce904c-5175-49b2-a9de-c7cee666869c",
            name: "new",
            world_ecs: (
                components: [
                    /*[0]*/ (
                        type_name: "PhysicsBody",
                        data: "(\n    data: {\n        (2): (),\n    },\n)",
                    ),
                    /*[1]*/ (
                        type_name: "Position",
                        data: "(\n    data: {\n        (2): (\n            position: (76.0, 136.0),\n        ),\n        (1): (\n            position: (0.0, 0.0),\n        ),\n    },\n)",
                    ),
                    /*[2]*/ (
                        type_name: "Animation",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[3]*/ (
                        type_name: "RoomCamera",
                        data: "(\n    data: {\n        (1): (\n            zoom: (0.0078125, 0.0125),\n            room_id: 0,\n            zoom_mode: Step,\n            camera_mode: Fixed,\n        ),\n    },\n)",
                    ),
                    /*[4]*/ (
                        type_name: "Player",
                        data: "(\n    data: {\n        (2): (),\n    },\n)",
                    ),
                    /*[5]*/ (
                        type_name: "CurrentRoom",
                        data: "(\n    data: {\n        (1): (0),\n        (2): (0),\n    },\n)",
                    ),
                    /*[6]*/ (
                        type_name: "Collider",
                        data: "(\n    data: {\n        (2): (\n            width: 24.0,\n            height: 24.0,\n        ),\n    },\n)",
                    ),
                    /*[7]*/ (
                        type_name: "Sprite",
                        data: "(\n    data: {\n        (2): (\n            sprite_id: (2),\n        ),\n    },\n)",
                    ),
                    /*[8]*/ (
                        type_name: "CurrentFrame",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[9]*/ (
                        type_name: "Layer",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[10]*/ (
                        type_name: "Light",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[11]*/ (
                        type_name: "Velocity",
                        data: "(\n    data: {\n        (2): (\n            x: 0.0,\n            y: 0.0,\n        ),\n    },\n)",
                    ),
                    /*[12]*/ (
                        type_name: "Glow",
                        data: "(\n    data: {},\n)",
                    ),
                ],
                tile_defs: {},
                next_entity_id: 2,
            ),
            rooms: [
                /*[0]*/ (
                    id: 0,
                    name: "untitled",
                    position: (
                        0.0,
                        0.0,
                    ),
                    size: (
                        16.0,
                        10.0,
                    ),
                    exits: [],
                    adjacent_rooms: [],
                    variants: [
                        /*[0]*/ (
                            id: "default",
                            tilemap: (
                                width: 16,
                                height: 10,
                                background: (
                                    0.78,
                                    0.78,
                                    0.78,
                                    1.0,
                                ),
                            ),
                        ),
                    ],
                    darkness: 0.0,
                ),
            ],
            starting_room: Some(0),
            starting_position: Some((
                1.0,
                1.0,
            )),
        ),
    ],
    asset_manager: (
        sprite_id_to_path: {
            (2): "sprites/cat.png",
            (1): "tile_sprites/Tile1.png",
        },
        game_name: "Demo",
    ),
    current_world_id: "85ce904c-5175-49b2-a9de-c7cee666869c",
    tile_size: 16.0,
)