(tile_size:16.0,columns:19,rows:1,selected_index:0,entries:[(def_id:("d33485f7-a6f8-4ee5-a472-58c11816a44e"),sprite_id:("2f2ec326-5041-4345-a69f-4a18b48c2f53"),sprite_path:"/Users/charliesovn/Projects/Aseprite/Tile24.png")])