(tile_size:16.0,columns:19,rows:1,selected_index:0,entries:[(def_id:("58dc1679-960a-40e9-a4c3-95d46be433c3"),sprite_id:("21b71279-335f-4222-bdff-669283af6e53"),sprite_path:"/Users/charliesovn/Projects/Aseprite/Tile1.png")])