(
    presets: {
        "Jump": (
            sounds: [
                "sfx/jump",
                "sfx/jump",
            ],
            volume: 1.0,
            pitch_variation: 0.0,
            volume_variation: 0.0,
            looping: false,
            preset_link: None,
        ),
    },
)