(tile_size:24.0,columns:7,rows:1,selected_index:0,entries:[(def_id:("e8bbad7e-8cbb-40f6-8a39-030292d7751b"),sprite_id:("6a1c2d94-670f-439c-8c0b-6b358f56d89c"),sprite_path:"/Users/charliesovn/Projects/Aseprite/Tile24.png")])