(
    save_version: 1,
    id: "32bc7788-42a2-4aff-ac47-302787155c87",
    name: "Game",
    worlds: [
        /*[0]*/ (
            id: "df5a41a5-1e8e-44c5-83fe-641a21c0d988",
            name: "new",
            world_ecs: (
                components: [
                    /*[0]*/ (
                        type_name: "CurrentFrame",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[1]*/ (
                        type_name: "Position",
                        data: "(\n    data: {\n        (\"087fcf04-7336-4db2-a896-1ade167b17cd\"): (\n            position: (-1.2812653, 17.593594),\n        ),\n        (\"7d07b898-9307-438e-8bdf-5260df312a3a\"): (\n            position: (383.52695, 64.299065),\n        ),\n        (\"592377e8-43d4-4f52-9ac9-a26aafd0d3f9\"): (\n            position: (0.0, 0.0),\n        ),\n        (\"f06ab5e6-0dfb-4190-a4e6-73920e0b72ab\"): (\n            position: (320.0, 0.0),\n        ),\n    },\n)",
                    ),
                    /*[2]*/ (
                        type_name: "PhysicsBody",
                        data: "(\n    data: {\n        (\"087fcf04-7336-4db2-a896-1ade167b17cd\"): (),\n    },\n)",
                    ),
                    /*[3]*/ (
                        type_name: "RoomCamera",
                        data: "(\n    data: {\n        (\"592377e8-43d4-4f52-9ac9-a26aafd0d3f9\"): (\n            scalar_zoom: 0.01,\n        ),\n        (\"f06ab5e6-0dfb-4190-a4e6-73920e0b72ab\"): (\n            scalar_zoom: 0.01,\n        ),\n    },\n)",
                    ),
                    /*[4]*/ (
                        type_name: "Collider",
                        data: "(\n    data: {\n        (\"087fcf04-7336-4db2-a896-1ade167b17cd\"): (\n            width: 0.0,\n            height: 0.0,\n        ),\n    },\n)",
                    ),
                    /*[5]*/ (
                        type_name: "Sprite",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[6]*/ (
                        type_name: "Animation",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[7]*/ (
                        type_name: "TileSprite",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[8]*/ (
                        type_name: "Layer",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[9]*/ (
                        type_name: "Glow",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[10]*/ (
                        type_name: "Velocity",
                        data: "(\n    data: {\n        (\"087fcf04-7336-4db2-a896-1ade167b17cd\"): (\n            x: 0.0,\n            y: 0.0,\n        ),\n    },\n)",
                    ),
                    /*[11]*/ (
                        type_name: "CurrentRoom",
                        data: "(\n    data: {\n        (\"f06ab5e6-0dfb-4190-a4e6-73920e0b72ab\"): (\"82c4e6a7-8569-409c-a755-9e93d4f6db1a\"),\n        (\"7d07b898-9307-438e-8bdf-5260df312a3a\"): (\"82c4e6a7-8569-409c-a755-9e93d4f6db1a\"),\n        (\"592377e8-43d4-4f52-9ac9-a26aafd0d3f9\"): (\"cfe878af-9708-49be-a0b1-ab17a90b8a9c\"),\n        (\"087fcf04-7336-4db2-a896-1ade167b17cd\"): (\"cfe878af-9708-49be-a0b1-ab17a90b8a9c\"),\n    },\n)",
                    ),
                    /*[12]*/ (
                        type_name: "Name",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[13]*/ (
                        type_name: "Player",
                        data: "(\n    data: {\n        (\"087fcf04-7336-4db2-a896-1ade167b17cd\"): (),\n    },\n)",
                    ),
                    /*[14]*/ (
                        type_name: "Light",
                        data: "(\n    data: {},\n)",
                    ),
                ],
                tile_defs: {},
            ),
            rooms: [
                /*[0]*/ (
                    id: "cfe878af-9708-49be-a0b1-ab17a90b8a9c",
                    name: "untitled",
                    position: (
                        0.0,
                        0.0,
                    ),
                    size: (
                        10.0,
                        5.0,
                    ),
                    exits: [],
                    adjacent_rooms: [],
                    variants: [
                        /*[0]*/ (
                            id: "default",
                            tilemap: (
                                width: 10,
                                height: 5,
                                background: (
                                    0.78,
                                    0.78,
                                    0.78,
                                    1.0,
                                ),
                            ),
                        ),
                    ],
                    darkness: 0.0,
                ),
                /*[1]*/ (
                    id: "82c4e6a7-8569-409c-a755-9e93d4f6db1a",
                    name: "untitled",
                    position: (
                        320.0,
                        0.0,
                    ),
                    size: (
                        5.0,
                        5.0,
                    ),
                    exits: [],
                    adjacent_rooms: [],
                    variants: [
                        /*[0]*/ (
                            id: "default",
                            tilemap: (
                                width: 5,
                                height: 5,
                                background: (
                                    0.78,
                                    0.78,
                                    0.78,
                                    1.0,
                                ),
                            ),
                        ),
                    ],
                    darkness: 0.0,
                ),
            ],
            starting_room: Some("cfe878af-9708-49be-a0b1-ab17a90b8a9c"),
            starting_position: Some((
                1.0,
                1.0,
            )),
        ),
    ],
    current_world_id: "df5a41a5-1e8e-44c5-83fe-641a21c0d988",
    tile_size: 32.0,
)