(
    id: "33754882-7cac-4a0c-bf01-e023b0f6d7df",
    name: "Game",
    worlds: [
        /*[0]*/ (
            id: "8939a2ed-caff-4074-a1e4-904923465689",
            name: "new",
            world_ecs: (
                components: [
                    /*[0]*/ (
                        type_name: "PhysicsBody",
                        data: "(\n    data: {\n        (\"990c0ef7-8435-454b-a945-bd1a8567d20b\"): (),\n    },\n)",
                    ),
                    /*[1]*/ (
                        type_name: "Name",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[2]*/ (
                        type_name: "Solid",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[3]*/ (
                        type_name: "Velocity",
                        data: "(\n    data: {\n        (\"990c0ef7-8435-454b-a945-bd1a8567d20b\"): (\n            x: 0.0,\n            y: 0.0,\n        ),\n    },\n)",
                    ),
                    /*[4]*/ (
                        type_name: "Damage",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[5]*/ (
                        type_name: "Light",
                        data: "(\n    data: {\n        (\"38a097f7-681e-46a0-8002-9e61ba2637b5\"): (\n            position: (25.0, 25.0),\n            radius: 2.0,\n            colour: (105.0, 105.0, 105.0),\n            intensity: 200.0,\n        ),\n    },\n)",
                    ),
                    /*[6]*/ (
                        type_name: "Collider",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[7]*/ (
                        type_name: "RoomCamera",
                        data: "(\n    data: {\n        (\"a6dfd2b9-090b-43d5-9aa6-98df3de33421\"): (\n            scalar_zoom: 0.01,\n        ),\n    },\n)",
                    ),
                    /*[8]*/ (
                        type_name: "Walkable",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[9]*/ (
                        type_name: "CurrentRoom",
                        data: "(\n    data: {\n        (\"990c0ef7-8435-454b-a945-bd1a8567d20b\"): (\"754cb33a-ebf6-402f-baad-ef2f0bdd1cb0\"),\n        (\"38a097f7-681e-46a0-8002-9e61ba2637b5\"): (\"754cb33a-ebf6-402f-baad-ef2f0bdd1cb0\"),\n        (\"a6dfd2b9-090b-43d5-9aa6-98df3de33421\"): (\"754cb33a-ebf6-402f-baad-ef2f0bdd1cb0\"),\n    },\n)",
                    ),
                    /*[10]*/ (
                        type_name: "Layer",
                        data: "(\n    data: {\n        (\"38a097f7-681e-46a0-8002-9e61ba2637b5\"): (\n            z: 0,\n        ),\n    },\n)",
                    ),
                    /*[11]*/ (
                        type_name: "Player",
                        data: "(\n    data: {\n        (\"990c0ef7-8435-454b-a945-bd1a8567d20b\"): (),\n    },\n)",
                    ),
                    /*[12]*/ (
                        type_name: "Sprite",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[13]*/ (
                        type_name: "Animation",
                        data: "(\n    data: {\n        (\"990c0ef7-8435-454b-a945-bd1a8567d20b\"): (\n            clips: {\n                Idle: (\n                    frame_size: (6.0, 16.0),\n                    cols: 5,\n                    rows: 1,\n                    fps: 4.0,\n                    looping: true,\n                    offset: (0.0, 0.0),\n                ),\n            },\n            variant: (\"/Users/charliesovn/Projects/bishop-engine/games/Game/assets/animation/player/female\"),\n        ),\n    },\n)",
                    ),
                    /*[14]*/ (
                        type_name: "Position",
                        data: "(\n    data: {\n        (\"a6dfd2b9-090b-43d5-9aa6-98df3de33421\"): (\n            position: (0.0, 0.0),\n        ),\n        (\"38a097f7-681e-46a0-8002-9e61ba2637b5\"): (\n            position: (68.03897, 25.729374),\n        ),\n        (\"990c0ef7-8435-454b-a945-bd1a8567d20b\"): (\n            position: (24.385887, 49.66943),\n        ),\n    },\n)",
                    ),
                    /*[15]*/ (
                        type_name: "Kinematic",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[16]*/ (
                        type_name: "TileSprite",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[17]*/ (
                        type_name: "CurrentFrame",
                        data: "(\n    data: {\n        (\"990c0ef7-8435-454b-a945-bd1a8567d20b\"): (),\n    },\n)",
                    ),
                ],
                tile_defs: {},
            ),
            rooms: [
                /*[0]*/ (
                    id: "754cb33a-ebf6-402f-baad-ef2f0bdd1cb0",
                    name: "untitled",
                    position: (
                        0.0,
                        0.0,
                    ),
                    size: (
                        10.0,
                        5.0,
                    ),
                    exits: [],
                    adjacent_rooms: [],
                    variants: [
                        /*[0]*/ (
                            id: "default",
                            tilemap: (
                                width: 10,
                                height: 5,
                                background: (
                                    0.0,
                                    0.003921569,
                                    0.78,
                                    1.0,
                                ),
                            ),
                        ),
                    ],
                ),
            ],
            starting_room: Some("754cb33a-ebf6-402f-baad-ef2f0bdd1cb0"),
            starting_position: Some((
                1.0,
                1.0,
            )),
        ),
    ],
    current_world_id: "8939a2ed-caff-4074-a1e4-904923465689",
)