(
    id: "d5f9728d-f0a1-465e-9a60-ecbfa26292db",
    name: "Game",
    worlds: [
        /*[0]*/ (
            id: "02df75bd-0109-4f57-a2f2-271c62bc928b",
            name: "new",
            world_ecs: (
                components: [
                    /*[0]*/ (
                        type_name: "TileSprite",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[1]*/ (
                        type_name: "PhysicsBody",
                        data: "(\n    data: {\n        (\"6fea6f5b-30ca-4b12-9a02-70019dea2b94\"): (),\n    },\n)",
                    ),
                    /*[2]*/ (
                        type_name: "CurrentFrame",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[3]*/ (
                        type_name: "Position",
                        data: "(\n    data: {\n        (\"5121a168-8ce9-4650-ad85-a50a1bc0dafc\"): (\n            position: (0.0, 0.0),\n        ),\n        (\"188f70c3-d45d-48bc-95ae-b7f16d2ec117\"): (\n            position: (0.0, 0.0),\n        ),\n        (\"87076e8c-a6d9-4d81-909c-98eaf2d17f4f\"): (\n            position: (51.11795, -4.4596367),\n        ),\n        (\"6fea6f5b-30ca-4b12-9a02-70019dea2b94\"): (\n            position: (24.867748, 22.367348),\n        ),\n    },\n)",
                    ),
                    /*[4]*/ (
                        type_name: "CurrentRoom",
                        data: "(\n    data: {\n        (\"6fea6f5b-30ca-4b12-9a02-70019dea2b94\"): (\"e6621ddc-2db8-440a-af41-6396fff13f2e\"),\n        (\"188f70c3-d45d-48bc-95ae-b7f16d2ec117\"): (\"e6621ddc-2db8-440a-af41-6396fff13f2e\"),\n        (\"87076e8c-a6d9-4d81-909c-98eaf2d17f4f\"): (\"e6621ddc-2db8-440a-af41-6396fff13f2e\"),\n        (\"5121a168-8ce9-4650-ad85-a50a1bc0dafc\"): (\"ad1582b1-d918-4e51-bb94-3c87d943f09c\"),\n    },\n)",
                    ),
                    /*[5]*/ (
                        type_name: "Glow",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[6]*/ (
                        type_name: "Light",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[7]*/ (
                        type_name: "Player",
                        data: "(\n    data: {\n        (\"6fea6f5b-30ca-4b12-9a02-70019dea2b94\"): (),\n    },\n)",
                    ),
                    /*[8]*/ (
                        type_name: "Sprite",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[9]*/ (
                        type_name: "Animation",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[10]*/ (
                        type_name: "Velocity",
                        data: "(\n    data: {\n        (\"6fea6f5b-30ca-4b12-9a02-70019dea2b94\"): (\n            x: 0.0,\n            y: 0.0,\n        ),\n    },\n)",
                    ),
                    /*[11]*/ (
                        type_name: "RoomCamera",
                        data: "(\n    data: {\n        (\"5121a168-8ce9-4650-ad85-a50a1bc0dafc\"): (\n            scalar_zoom: 0.01,\n        ),\n        (\"188f70c3-d45d-48bc-95ae-b7f16d2ec117\"): (\n            scalar_zoom: 0.01,\n        ),\n    },\n)",
                    ),
                    /*[12]*/ (
                        type_name: "Collider",
                        data: "(\n    data: {\n        (\"87076e8c-a6d9-4d81-909c-98eaf2d17f4f\"): (\n            width: 0.0,\n            height: 0.0,\n        ),\n        (\"6fea6f5b-30ca-4b12-9a02-70019dea2b94\"): (\n            width: 0.0,\n            height: 0.0,\n        ),\n    },\n)",
                    ),
                    /*[13]*/ (
                        type_name: "Layer",
                        data: "(\n    data: {},\n)",
                    ),
                    /*[14]*/ (
                        type_name: "Name",
                        data: "(\n    data: {\n        (\"87076e8c-a6d9-4d81-909c-98eaf2d17f4f\"): (\n            amount: \"dffdf\",\n        ),\n        (\"6fea6f5b-30ca-4b12-9a02-70019dea2b94\"): (\n            amount: \"dffdf\",\n        ),\n    },\n)",
                    ),
                ],
                tile_defs: {},
            ),
            rooms: [
                /*[0]*/ (
                    id: "e6621ddc-2db8-440a-af41-6396fff13f2e",
                    name: "untitled",
                    position: (
                        0.0,
                        0.0,
                    ),
                    size: (
                        10.0,
                        5.0,
                    ),
                    exits: [],
                    adjacent_rooms: [],
                    variants: [
                        /*[0]*/ (
                            id: "default",
                            tilemap: (
                                width: 10,
                                height: 5,
                                background: (
                                    0.78,
                                    0.78,
                                    0.78,
                                    1.0,
                                ),
                            ),
                        ),
                    ],
                    darkness: 0.0,
                ),
                /*[1]*/ (
                    id: "ad1582b1-d918-4e51-bb94-3c87d943f09c",
                    name: "untitled",
                    position: (
                        160.0,
                        0.0,
                    ),
                    size: (
                        6.0,
                        5.0,
                    ),
                    exits: [],
                    adjacent_rooms: [],
                    variants: [
                        /*[0]*/ (
                            id: "default",
                            tilemap: (
                                width: 6,
                                height: 5,
                                background: (
                                    0.78,
                                    0.78,
                                    0.78,
                                    1.0,
                                ),
                            ),
                        ),
                    ],
                    darkness: 0.0,
                ),
            ],
            starting_room: Some("e6621ddc-2db8-440a-af41-6396fff13f2e"),
            starting_position: Some((
                1.0,
                1.0,
            )),
        ),
    ],
    current_world_id: "02df75bd-0109-4f57-a2f2-271c62bc928b",
    tile_size: 16.0,
)