(tile_size:16.0,columns:19,rows:1,selected_index:0,entries:[(def_id:("8895d06c-ccaa-45a1-9523-829f4cffd8c8"),sprite_id:("49dbd074-438f-4239-8519-d166f7c28ec6"),sprite_path:"/Users/charliesovn/Projects/Aseprite/Tile24.png")])