(tile_size:16.0,columns:19,rows:1,selected_index:0,entries:[(def_id:("ebc7a811-5bdc-4195-9093-fae3a03b3c63"),sprite_id:("1f86fdd3-9a07-4e24-9173-792ac4358ffe"),sprite_path:"/Users/charliesovn/Projects/Aseprite/Tile24.png")])