(tile_size:16.0,columns:19,rows:1,selected_index:0,entries:[(def_id:("994be638-b5e3-47d1-8e25-6ec64b1b9a3e"),sprite_id:("5be9bfbe-97a2-48bd-aac9-64208a12f23f"),sprite_path:"/Users/charliesovn/Projects/Aseprite/Tile24.png")])