(
    name: "Wonderful",
    rooms_metadata: [
        /*[0]*/ (
            id: "df534cf5-5db9-4557-8151-96742b30527d",
            name: "untitled",
            position: (
                0.0,
                0.0,
            ),
            size: (
                10.0,
                5.0,
            ),
            exits: [],
            adjacent_rooms: [],
        ),
    ],
    starting_room: Some("df534cf5-5db9-4557-8151-96742b30527d"),
    starting_position: Some((
        1.0,
        1.0,
    )),
)