(
    id: "862a632e-ae2d-4c51-9043-c4a6626d0a19",
    name: "World\r",
    world_ecs: (
        components: [
            /*[0]*/ (
                type_name: "Solid",
                data: "(\n    data: {},\n)",
            ),
            /*[1]*/ (
                type_name: "Weapon",
                data: "(\n    data: {},\n)",
            ),
            /*[2]*/ (
                type_name: "Position",
                data: "(\n    data: {\n        (\"523e784a-e466-4406-a90e-7eb7f572c4cc\"): (\n            position: (131.69447, 75.39168),\n        ),\n        (\"dcce6528-2a61-4e9c-8e04-cae1a0af839c\"): (\n            position: (50.408524, 229.30829),\n        ),\n    },\n)",
            ),
            /*[3]*/ (
                type_name: "Walkable",
                data: "(\n    data: {},\n)",
            ),
            /*[4]*/ (
                type_name: "Damage",
                data: "(\n    data: {},\n)",
            ),
            /*[5]*/ (
                type_name: "CurrentRoom",
                data: "(\n    data: {\n        (\"dcce6528-2a61-4e9c-8e04-cae1a0af839c\"): (\"9ad8d0b2-63bd-420a-8c0c-21bf33cb7279\"),\n        (\"523e784a-e466-4406-a90e-7eb7f572c4cc\"): (\"71a46f3d-b004-4f38-b5ba-6ae31ae91231\"),\n    },\n)",
            ),
            /*[6]*/ (
                type_name: "TileSprite",
                data: "(\n    data: {},\n)",
            ),
            /*[7]*/ (
                type_name: "Sprite",
                data: "(\n    data: {},\n)",
            ),
        ],
        tile_defs: {},
    ),
    rooms_metadata: [
        /*[0]*/ (
            id: "71a46f3d-b004-4f38-b5ba-6ae31ae91231",
            name: "untitled",
            position: (
                0.0,
                0.0,
            ),
            size: (
                10.0,
                5.0,
            ),
            exits: [
                /*[0]*/ (
                    position: (
                        1.0,
                        -1.0,
                    ),
                    direction: Up,
                    target_room_id: None,
                ),
            ],
            adjacent_rooms: [],
        ),
        /*[1]*/ (
            id: "9ad8d0b2-63bd-420a-8c0c-21bf33cb7279",
            name: "untitled",
            position: (
                0.0,
                160.0,
            ),
            size: (
                10.0,
                5.0,
            ),
            exits: [],
            adjacent_rooms: [],
        ),
    ],
    starting_room: Some("71a46f3d-b004-4f38-b5ba-6ae31ae91231"),
    starting_position: Some((
        1.0,
        1.0,
    )),
)