(
    variants: [
        (
            id: "default",
            tilemap: (
                width: 10,
                height: 5,
                tiles: [
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("904b77d8-e7df-4679-844a-d8c678a3c2ff"),
                        ),
                        (
                            entity: ("533f77b1-ff6f-4048-91f3-68c0e56e9974"),
                        ),
                        (
                            entity: ("ceabc902-fd39-4a12-9968-ad1c45b53b5d"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("9caf6a8d-e972-413e-9853-1f25542a0aaf"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("fc282692-f9fc-4733-b2ea-306af024fb9b"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("81e4ce9d-7b58-416e-9327-28bd4a3644c0"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("fc00750a-5bce-4f4a-b019-fb1510145330"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("dd40519c-d2dc-4be9-925c-14b2142e2a5c"),
                        ),
                        (
                            entity: ("65b4e17c-debd-48be-a029-16155a902583"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("67d41350-5a7f-42dc-96b0-83528b685824"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("6cb2d1f7-09e3-4f86-8b05-a11521e8e9a7"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("85587be6-6579-4dc4-ac62-35071ba717af"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("cdc2fd52-2363-4338-9282-d92891ea1baf"),
                        ),
                        (
                            entity: ("2f984efa-769f-4b40-a596-55be095673c5"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("d253afac-cf77-4c02-823e-041ae08456b0"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                ],
                background: (0.78, 0.78, 0.78, 1.0),
            ),
        ),
    ],
)