(
    variants: [
        (
            id: "default",
            tilemap: (
                width: 10,
                height: 5,
                tiles: [
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("3d12c0bf-f7ee-498d-a2e1-c4bc52c648ae"),
                        ),
                        (
                            entity: ("4fb48d1e-3dd7-41c2-aa9e-988174a649a5"),
                        ),
                        (
                            entity: ("cca586f3-9745-4925-ae64-368414ecd852"),
                        ),
                        (
                            entity: ("b093204b-5db3-4c43-94f7-7f03dd6a7481"),
                        ),
                        (
                            entity: ("94ad64ba-07b8-4420-8f3b-9c8756bc05e2"),
                        ),
                        (
                            entity: ("fc6e4bd2-eb8f-48d9-adaf-fe0c5dd854ff"),
                        ),
                        (
                            entity: ("c23cca09-ce1b-4957-8344-531862dc35fb"),
                        ),
                        (
                            entity: ("546a4ec3-0e08-40ae-8367-68c0240ec45a"),
                        ),
                        (
                            entity: ("aaae1a43-ca7e-4553-8938-5cc15d71a093"),
                        ),
                        (
                            entity: ("e0225232-e643-4c0f-8e20-c0826423e137"),
                        ),
                    ],
                ],
                background: (0.078431375, 0.78431374, 0.78431374, 1.0),
            ),
        ),
    ],
)