(
    id: "settings",
    background: Dimmed(0.7),
    elements: [
        /*[0]*/ (
            name: "",
            kind: LayoutGroup((
                layout: (
                    direction: Vertical,
                    spacing: 16.0,
                    padding: (
                        top: 32.0,
                        right: 32.0,
                        bottom: 32.0,
                        left: 32.0,
                    ),
                    alignment: (
                        horizontal: Center,
                        vertical: Middle,
                    ),
                    item_width: 200.0,
                    item_height: 40.0,
                ),
                children: [],
                background: None,
                nav_up: None,
                nav_down: None,
                nav_left: None,
                nav_right: None,
            )),
            rect: (
                x: 0.6944871,
                y: 0.35,
                w: 0.25,
                h: 0.3,
            ),
            enabled: true,
            visible: true,
            z_order: 0,
        ),
        /*[1]*/ (
            name: "",
            kind: LayoutGroup((
                layout: (
                    direction: Vertical,
                    spacing: 16.0,
                    padding: (
                        top: 32.0,
                        right: 32.0,
                        bottom: 32.0,
                        left: 32.0,
                    ),
                    alignment: (
                        horizontal: Center,
                        vertical: Middle,
                    ),
                    item_width: 200.0,
                    item_height: 40.0,
                ),
                children: [],
                background: None,
                nav_up: None,
                nav_down: None,
                nav_left: None,
                nav_right: None,
            )),
            rect: (
                x: 0.60634845,
                y: 0.083314255,
                w: 0.25,
                h: 0.3,
            ),
            enabled: true,
            visible: true,
            z_order: 0,
        ),
        /*[2]*/ (
            name: "",
            kind: LayoutGroup((
                layout: (
                    direction: Vertical,
                    spacing: 16.0,
                    padding: (
                        top: 32.0,
                        right: 32.0,
                        bottom: 32.0,
                        left: 32.0,
                    ),
                    alignment: (
                        horizontal: Center,
                        vertical: Middle,
                    ),
                    item_width: 200.0,
                    item_height: 40.0,
                ),
                children: [],
                background: None,
                nav_up: None,
                nav_down: None,
                nav_left: None,
                nav_right: None,
            )),
            rect: (
                x: 0.5099649,
                y: 0.45600712,
                w: 0.25,
                h: 0.3,
            ),
            enabled: true,
            visible: true,
            z_order: 0,
        ),
    ],
    mode: Paused,
)