(
    id: "settings",
    background: Dimmed(0.7),
    elements: [
        /*[0]*/ (
            name: "",
            kind: Panel((
                background: (
                    fill: SolidColor((
                        r: 0.3019608,
                        g: 0.3019608,
                        b: 0.34901962,
                        a: 1.0,
                    )),
                    opacity: 1.0,
                ),
            )),
            rect: (
                x: 0.27586675,
                y: 0.27093077,
                w: 0.44826654,
                h: 0.45813847,
            ),
            enabled: true,
            visible: true,
            z_order: -1,
        ),
        /*[1]*/ (
            name: "",
            kind: Button((
                text_key: "Exit",
                action: CloseMenu,
                font_size: 20.0,
                nav_targets: (
                    up: None,
                    down: None,
                    left: None,
                    right: None,
                ),
            )),
            rect: (
                x: 0.45,
                y: 0.4815,
                w: 0.1,
                h: 0.037,
            ),
            enabled: true,
            visible: true,
            z_order: 0,
        ),
    ],
    mode: Paused,
)