(
    id: "start",
    background: Dimmed(0.7),
    elements: [
        /*[0]*/ (
            name: "",
            kind: LayoutGroup((
                layout: (
                    direction: Vertical,
                    spacing: 16.0,
                    padding: (
                        top: 32.0,
                        right: 32.0,
                        bottom: 32.0,
                        left: 32.0,
                    ),
                    alignment: (
                        horizontal: Center,
                        vertical: Middle,
                    ),
                    item_width: 200.0,
                    item_height: 40.0,
                ),
                children: [
                    /*[0]*/ (
                        element: (
                            name: "Pause",
                            kind: Label((
                                text_key: "Pause",
                                font_size: 24.0,
                                color: (
                                    r: 1.0,
                                    g: 1.0,
                                    b: 1.0,
                                    a: 1.0,
                                ),
                                alignment: Center,
                            )),
                            rect: (
                                x: 0.11101067,
                                y: 0.05969298,
                                w: 0.1,
                                h: 0.03,
                            ),
                            enabled: true,
                            visible: true,
                            z_order: 0,
                        ),
                        managed: true,
                    ),
                    /*[1]*/ (
                        element: (
                            name: "Resume",
                            kind: Button((
                                text_key: "Resume",
                                action: CloseMenu,
                                font_size: 20.0,
                                nav_targets: (
                                    up: None,
                                    down: None,
                                    left: None,
                                    right: None,
                                ),
                            )),
                            rect: (
                                x: 0.14700973,
                                y: 0.1310237,
                                w: 0.1,
                                h: 0.037,
                            ),
                            enabled: true,
                            visible: true,
                            z_order: 0,
                        ),
                        managed: true,
                    ),
                    /*[2]*/ (
                        element: (
                            name: "",
                            kind: Button((
                                text_key: "Settings",
                                action: OpenMenu("settings"),
                                font_size: 20.0,
                                nav_targets: (
                                    up: None,
                                    down: None,
                                    left: None,
                                    right: None,
                                ),
                            )),
                            rect: (
                                x: 0.14793742,
                                y: 0.23101828,
                                w: 0.1,
                                h: 0.037,
                            ),
                            enabled: true,
                            visible: true,
                            z_order: 0,
                        ),
                        managed: true,
                    ),
                ],
                background: None,
                nav_targets: (
                    up: None,
                    down: None,
                    left: Some(1),
                    right: None,
                ),
            )),
            rect: (
                x: 0.375,
                y: 0.35,
                w: 0.25,
                h: 0.3,
            ),
            enabled: true,
            visible: true,
            z_order: 0,
        ),
        /*[1]*/ (
            name: "Label",
            kind: Label((
                text_key: "label",
                font_size: 0.0,
                color: (
                    r: 0.0,
                    g: 0.0,
                    b: 0.0,
                    a: 0.0,
                ),
                alignment: Center,
            )),
            rect: (
                x: 0.15130496,
                y: 0.52147174,
                w: 0.1,
                h: 0.13782889,
            ),
            enabled: true,
            visible: true,
            z_order: 0,
        ),
    ],
    mode: Paused,
)