(position:(10.0,10.0),tile_size:32.0,columns:2,rows:1,selected_index:1,entries:[(def_id:(2),sprite_path:"/Users/charliesovn/Projects/Aseprite/Tile2.png"),(def_id:(3),sprite_path:"/Users/charliesovn/Projects/Aseprite/Tile1.png")],edit_requested:false,delete_requested:None)