(
    variants: [
        (
            id: "default",
            tilemap: (
                width: 10,
                height: 5,
                tiles: [
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("9eecfbbb-ced2-4b68-815b-d7b01a3fbc94"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("3cd734af-22be-4f7e-a6be-862843d3fec8"),
                        ),
                        (
                            entity: ("66d46fff-4feb-4ab2-99f7-a2dbe0f1b146"),
                        ),
                        (
                            entity: ("d0d2eac4-98e4-4f6a-aa40-a67c6e7c7375"),
                        ),
                        (
                            entity: ("2cc06065-27e2-40f8-9d09-b4119370a2e2"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("3aef9336-170e-4223-a955-05ab39482422"),
                        ),
                        (
                            entity: ("3814e2a9-e205-4858-8df1-2c217d95c3da"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("125075c2-fb04-451f-9310-37921e466394"),
                        ),
                        (
                            entity: ("1385e211-01e5-4f0d-8b2f-b98bc5272b7a"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("dab4474d-168f-4167-ae2f-fb4f9af38c07"),
                        ),
                        (
                            entity: ("b07a2990-2c13-488e-8aa2-602dea16b457"),
                        ),
                        (
                            entity: ("623ed522-c44a-4fff-b24b-8f48a86513a5"),
                        ),
                        (
                            entity: ("d7fd5937-f2c3-48df-ad22-d62c1a37ee72"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("523e67dd-2121-4c27-a630-c163f0953158"),
                        ),
                        (
                            entity: ("9c2c4481-ee96-49e0-992a-9ef17c045133"),
                        ),
                        (
                            entity: ("2f2d2580-03cd-491d-afea-dcfb88e6a314"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                ],
                background: (0.78, 0.78, 0.78, 1.0),
            ),
        ),
    ],
)