(
    id: "675344d5-25ad-4939-999f-ac867ec289e1",
    name: "World\r",
    world_ecs: (
        components: [
            /*[0]*/ (
                type_name: "CurrentFrame",
                data: "(\n    data: {\n        (\"e8f69322-8143-4c36-8052-48b99f957adf\"): (),\n    },\n)",
            ),
            /*[1]*/ (
                type_name: "PhysicsBody",
                data: "(\n    data: {\n        (\"e8f69322-8143-4c36-8052-48b99f957adf\"): (),\n    },\n)",
            ),
            /*[2]*/ (
                type_name: "Velocity",
                data: "(\n    data: {\n        (\"e8f69322-8143-4c36-8052-48b99f957adf\"): (\n            x: 0.0,\n            y: 0.0,\n        ),\n    },\n)",
            ),
            /*[3]*/ (
                type_name: "Player",
                data: "(\n    data: {\n        (\"e8f69322-8143-4c36-8052-48b99f957adf\"): (),\n    },\n)",
            ),
            /*[4]*/ (
                type_name: "CurrentRoom",
                data: "(\n    data: {\n        (\"d42e0a0f-81c2-4d57-9eaa-a46f60406273\"): (\"d21d98b1-8f7a-4451-a160-8fac543a4bc1\"),\n        (\"e8f69322-8143-4c36-8052-48b99f957adf\"): (\"d21d98b1-8f7a-4451-a160-8fac543a4bc1\"),\n        (\"776f9611-dc1b-44c1-8a7b-d5a17fcbd926\"): (\"d21d98b1-8f7a-4451-a160-8fac543a4bc1\"),\n    },\n)",
            ),
            /*[5]*/ (
                type_name: "Collider",
                data: "(\n    data: {\n        (\"e8f69322-8143-4c36-8052-48b99f957adf\"): (\n            width: 0.0,\n            height: 0.0,\n        ),\n    },\n)",
            ),
            /*[6]*/ (
                type_name: "Sprite",
                data: "(\n    data: {},\n)",
            ),
            /*[7]*/ (
                type_name: "TileSprite",
                data: "(\n    data: {},\n)",
            ),
            /*[8]*/ (
                type_name: "RoomCamera",
                data: "(\n    data: {\n        (\"d42e0a0f-81c2-4d57-9eaa-a46f60406273\"): (\n            scalar_zoom: 0.01,\n        ),\n    },\n)",
            ),
            /*[9]*/ (
                type_name: "Position",
                data: "(\n    data: {\n        (\"d42e0a0f-81c2-4d57-9eaa-a46f60406273\"): (\n            position: (0.0, 0.0),\n        ),\n        (\"e8f69322-8143-4c36-8052-48b99f957adf\"): (\n            position: (39.791264, 18.745224),\n        ),\n        (\"776f9611-dc1b-44c1-8a7b-d5a17fcbd926\"): (\n            position: (0.0, 0.0),\n        ),\n    },\n)",
            ),
            /*[10]*/ (
                type_name: "Animation",
                data: "(\n    data: {\n        (\"e8f69322-8143-4c36-8052-48b99f957adf\"): (\n            clips: {\n                Idle: (\n                    sprite_id: (\"00000000-0000-0000-0000-000000000000\"),\n                    path: \"\",\n                    frame_size: (16.0, 16.0),\n                    cols: 5,\n                    rows: 1,\n                    fps: 4.0,\n                    looping: true,\n                    offset: (0.0, 0.0),\n                ),\n            },\n            current: Some(Idle),\n        ),\n    },\n)",
            ),
        ],
        tile_defs: {},
    ),
    rooms: [
        /*[0]*/ (
            id: "d21d98b1-8f7a-4451-a160-8fac543a4bc1",
            name: "untitled",
            position: (
                0.0,
                0.0,
            ),
            size: (
                10.0,
                5.0,
            ),
            exits: [],
            adjacent_rooms: [],
            variants: [
                /*[0]*/ (
                    id: "default",
                    tilemap: (
                        width: 10,
                        height: 5,
                        tiles: [
                            /*[0]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[1]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[2]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[3]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[4]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                        ],
                        background: (
                            0.78,
                            0.78,
                            0.78,
                            1.0,
                        ),
                    ),
                ),
            ],
        ),
    ],
    starting_room: Some("d21d98b1-8f7a-4451-a160-8fac543a4bc1"),
    starting_position: Some((
        1.0,
        1.0,
    )),
)