(
    id: "4f286fd9-eb1a-4b92-9352-2fc68c095e7c",
    name: "World\r",
    world_ecs: (
        components: [
            /*[0]*/ (
                type_name: "RoomCamera",
                data: "(\n    data: {\n        (\"e55e4f13-6e0b-4852-924c-9d302391370f\"): (\n            scalar_zoom: 0.01,\n        ),\n    },\n)",
            ),
            /*[1]*/ (
                type_name: "Player",
                data: "(\n    data: {\n        (\"fbf4b040-bd0a-41e0-b2bc-7fac2b23ed94\"): (),\n    },\n)",
            ),
            /*[2]*/ (
                type_name: "Position",
                data: "(\n    data: {\n        (\"fbf4b040-bd0a-41e0-b2bc-7fac2b23ed94\"): (\n            position: (1.0, 1.0),\n        ),\n        (\"e55e4f13-6e0b-4852-924c-9d302391370f\"): (\n            position: (0.0, 0.0),\n        ),\n    },\n)",
            ),
            /*[3]*/ (
                type_name: "CurrentRoom",
                data: "(\n    data: {\n        (\"e55e4f13-6e0b-4852-924c-9d302391370f\"): (\"94a5ba0c-dcb6-4620-82b0-94b3780c9c5c\"),\n        (\"fbf4b040-bd0a-41e0-b2bc-7fac2b23ed94\"): (\"94a5ba0c-dcb6-4620-82b0-94b3780c9c5c\"),\n    },\n)",
            ),
        ],
        tile_defs: {},
    ),
    rooms: [
        /*[0]*/ (
            id: "94a5ba0c-dcb6-4620-82b0-94b3780c9c5c",
            name: "untitled",
            position: (
                0.0,
                0.0,
            ),
            size: (
                10.0,
                5.0,
            ),
            exits: [],
            adjacent_rooms: [],
            variants: [
                /*[0]*/ (
                    id: "default",
                    tilemap: (
                        width: 10,
                        height: 5,
                        tiles: [
                            /*[0]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[1]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[2]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[3]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[4]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                        ],
                        background: (
                            0.78,
                            0.78,
                            0.78,
                            1.0,
                        ),
                    ),
                ),
            ],
        ),
    ],
    starting_room: Some("94a5ba0c-dcb6-4620-82b0-94b3780c9c5c"),
    starting_position: Some((
        1.0,
        1.0,
    )),
)