(
    id: "a5e17320-9ad3-4b9f-b56a-77c921493d8f",
    name: "World\r",
    world_ecs: (
        components: [
            /*[0]*/ (
                type_name: "Sprite",
                data: "(\n    data: {\n        (\"1123a212-b9a9-470e-84a9-8e75736eecc7\"): (\n            sprite_id: (\"8b1ce202-a032-44dd-92e4-f6a70cf24307\"),\n            path: \"/Users/charliesovn/Projects/Aseprite/Entity3.png\",\n        ),\n        (\"9d4cade1-d820-4db6-9fdf-821e8b48afd9\"): (\n            sprite_id: (\"00000000-0000-0000-0000-000000000000\"),\n            path: \"\",\n        ),\n    },\n)",
            ),
            /*[1]*/ (
                type_name: "Collider",
                data: "(\n    data: {\n        (\"1123a212-b9a9-470e-84a9-8e75736eecc7\"): (\n            width: 24.0,\n            height: 14.0,\n        ),\n        (\"9d4cade1-d820-4db6-9fdf-821e8b48afd9\"): (\n            width: 0.0,\n            height: 0.0,\n        ),\n    },\n)",
            ),
            /*[2]*/ (
                type_name: "RoomCamera",
                data: "(\n    data: {\n        (\"3641d30f-b11b-47c7-8e02-79bcfb1e62fb\"): (\n            scalar_zoom: 0.03032,\n        ),\n        (\"2d9086a7-0be0-4923-946d-3ebb21a89f7f\"): (\n            scalar_zoom: 0.022,\n        ),\n    },\n)",
            ),
            /*[3]*/ (
                type_name: "CurrentRoom",
                data: "(\n    data: {\n        (\"3641d30f-b11b-47c7-8e02-79bcfb1e62fb\"): (\"be5d0889-46f1-40ac-9886-2b3ada8e63bb\"),\n        (\"1123a212-b9a9-470e-84a9-8e75736eecc7\"): (\"be5d0889-46f1-40ac-9886-2b3ada8e63bb\"),\n        (\"2d9086a7-0be0-4923-946d-3ebb21a89f7f\"): (\"431b56c0-5a9e-4b73-9e5e-f6b789e0cdd8\"),\n        (\"9d4cade1-d820-4db6-9fdf-821e8b48afd9\"): (\"be5d0889-46f1-40ac-9886-2b3ada8e63bb\"),\n    },\n)",
            ),
            /*[4]*/ (
                type_name: "Velocity",
                data: "(\n    data: {\n        (\"9d4cade1-d820-4db6-9fdf-821e8b48afd9\"): (\n            x: 0.0,\n            y: 0.0,\n        ),\n    },\n)",
            ),
            /*[5]*/ (
                type_name: "Position",
                data: "(\n    data: {\n        (\"1123a212-b9a9-470e-84a9-8e75736eecc7\"): (\n            position: (137.76143, 23.838428),\n        ),\n        (\"9d4cade1-d820-4db6-9fdf-821e8b48afd9\"): (\n            position: (38.46064, 38.132076),\n        ),\n        (\"2d9086a7-0be0-4923-946d-3ebb21a89f7f\"): (\n            position: (183.19704, 153.84221),\n        ),\n        (\"3641d30f-b11b-47c7-8e02-79bcfb1e62fb\"): (\n            position: (107.98081, 40.432053),\n        ),\n    },\n)",
            ),
            /*[6]*/ (
                type_name: "TileSprite",
                data: "(\n    data: {},\n)",
            ),
            /*[7]*/ (
                type_name: "Player",
                data: "(\n    data: {\n        (\"9d4cade1-d820-4db6-9fdf-821e8b48afd9\"): (),\n    },\n)",
            ),
        ],
        tile_defs: {},
    ),
    rooms: [
        /*[0]*/ (
            id: "be5d0889-46f1-40ac-9886-2b3ada8e63bb",
            name: "untitled",
            position: (
                0.0,
                -144.0,
            ),
            size: (
                10.0,
                11.0,
            ),
            exits: [
                /*[0]*/ (
                    position: (
                        7.0,
                        11.0,
                    ),
                    direction: Down,
                    target_room_id: Some(0),
                ),
            ],
            adjacent_rooms: [],
            variants: [
                /*[0]*/ (
                    id: "default",
                    tilemap: (
                        width: 10,
                        height: 11,
                        tiles: [
                            /*[0]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[1]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[2]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[3]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[4]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[5]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[6]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[7]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[8]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[9]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[10]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                        ],
                        background: (
                            0.78,
                            0.78,
                            0.78,
                            1.0,
                        ),
                    ),
                ),
            ],
        ),
        /*[1]*/ (
            id: "431b56c0-5a9e-4b73-9e5e-f6b789e0cdd8",
            name: "untitled",
            position: (
                144.0,
                120.0,
            ),
            size: (
                3.0,
                3.0,
            ),
            exits: [
                /*[0]*/ (
                    position: (
                        1.0,
                        -1.0,
                    ),
                    direction: Up,
                    target_room_id: Some(0),
                ),
            ],
            adjacent_rooms: [],
            variants: [
                /*[0]*/ (
                    id: "default",
                    tilemap: (
                        width: 3,
                        height: 3,
                        tiles: [
                            /*[0]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[1]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[2]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                        ],
                        background: (
                            0.78,
                            0.78,
                            0.78,
                            1.0,
                        ),
                    ),
                ),
            ],
        ),
    ],
    starting_room: Some("be5d0889-46f1-40ac-9886-2b3ada8e63bb"),
    starting_position: Some((
        1.0,
        1.0,
    )),
)