(
    id: "666f0d08-357c-4410-96c7-6a258d67a94e",
    name: "asdf\r",
    rooms_metadata: [
        /*[0]*/ (
            id: "b3fd9e1b-52f8-4079-9d87-78c8220d2ca5",
            name: "untitled",
            position: (
                0.0,
                0.0,
            ),
            size: (
                10.0,
                5.0,
            ),
            exits: [],
            adjacent_rooms: [
                /*[0]*/ "eef7533d-bfe6-48fc-9b7d-d45f5fbd8b92",
                /*[1]*/ "4268bd61-bbfb-49be-bd5f-ff58697b1185",
                /*[2]*/ "aa179d73-ccc0-4619-a60b-02f86c62dff9",
                /*[3]*/ "0fa4f876-b89e-4470-9c37-11187d86a632",
            ],
        ),
        /*[1]*/ (
            id: "eef7533d-bfe6-48fc-9b7d-d45f5fbd8b92",
            name: "untitled",
            position: (
                1.0,
                5.0,
            ),
            size: (
                5.0,
                4.0,
            ),
            exits: [],
            adjacent_rooms: [
                /*[0]*/ "b3fd9e1b-52f8-4079-9d87-78c8220d2ca5",
                /*[1]*/ "4268bd61-bbfb-49be-bd5f-ff58697b1185",
                /*[2]*/ "aa179d73-ccc0-4619-a60b-02f86c62dff9",
                /*[3]*/ "0ea69ec6-d11f-4a5d-8fc7-8180ff99d723",
            ],
        ),
        /*[2]*/ (
            id: "4268bd61-bbfb-49be-bd5f-ff58697b1185",
            name: "untitled",
            position: (
                6.0,
                5.0,
            ),
            size: (
                7.0,
                5.0,
            ),
            exits: [],
            adjacent_rooms: [
                /*[0]*/ "b3fd9e1b-52f8-4079-9d87-78c8220d2ca5",
                /*[1]*/ "eef7533d-bfe6-48fc-9b7d-d45f5fbd8b92",
                /*[2]*/ "0ea69ec6-d11f-4a5d-8fc7-8180ff99d723",
            ],
        ),
        /*[3]*/ (
            id: "aa179d73-ccc0-4619-a60b-02f86c62dff9",
            name: "untitled",
            position: (
                -6.0,
                5.0,
            ),
            size: (
                7.0,
                6.0,
            ),
            exits: [],
            adjacent_rooms: [
                /*[0]*/ "b3fd9e1b-52f8-4079-9d87-78c8220d2ca5",
                /*[1]*/ "eef7533d-bfe6-48fc-9b7d-d45f5fbd8b92",
                /*[2]*/ "0fa4f876-b89e-4470-9c37-11187d86a632",
                /*[3]*/ "0ea69ec6-d11f-4a5d-8fc7-8180ff99d723",
                /*[4]*/ "b611939e-bfc1-47fa-a54d-7ff2ab4090a6",
            ],
        ),
        /*[4]*/ (
            id: "0fa4f876-b89e-4470-9c37-11187d86a632",
            name: "untitled",
            position: (
                -3.0,
                0.0,
            ),
            size: (
                3.0,
                5.0,
            ),
            exits: [],
            adjacent_rooms: [
                /*[0]*/ "b3fd9e1b-52f8-4079-9d87-78c8220d2ca5",
                /*[1]*/ "aa179d73-ccc0-4619-a60b-02f86c62dff9",
                /*[2]*/ "b611939e-bfc1-47fa-a54d-7ff2ab4090a6",
            ],
        ),
        /*[5]*/ (
            id: "0ea69ec6-d11f-4a5d-8fc7-8180ff99d723",
            name: "untitled",
            position: (
                1.0,
                9.0,
            ),
            size: (
                5.0,
                6.0,
            ),
            exits: [],
            adjacent_rooms: [
                /*[0]*/ "eef7533d-bfe6-48fc-9b7d-d45f5fbd8b92",
                /*[1]*/ "4268bd61-bbfb-49be-bd5f-ff58697b1185",
                /*[2]*/ "aa179d73-ccc0-4619-a60b-02f86c62dff9",
                /*[3]*/ "1c20bb7c-84a3-434f-8573-d39bcf63a677",
            ],
        ),
        /*[6]*/ (
            id: "b611939e-bfc1-47fa-a54d-7ff2ab4090a6",
            name: "untitled",
            position: (
                -6.0,
                0.0,
            ),
            size: (
                3.0,
                5.0,
            ),
            exits: [
                /*[0]*/ (
                    position: (
                        0.0,
                        5.0,
                    ),
                    direction: Down,
                    target_room_id: None,
                ),
            ],
            adjacent_rooms: [
                /*[0]*/ "aa179d73-ccc0-4619-a60b-02f86c62dff9",
                /*[1]*/ "0fa4f876-b89e-4470-9c37-11187d86a632",
            ],
        ),
        /*[7]*/ (
            id: "1c20bb7c-84a3-434f-8573-d39bcf63a677",
            name: "untitled",
            position: (
                6.0,
                12.0,
            ),
            size: (
                8.0,
                3.0,
            ),
            exits: [],
            adjacent_rooms: [
                /*[0]*/ "0ea69ec6-d11f-4a5d-8fc7-8180ff99d723",
                /*[1]*/ "b364f716-0752-40e1-8f23-1cfc049fdd87",
            ],
        ),
        /*[8]*/ (
            id: "b70d1cf6-40d1-4af5-9f94-a2d696406cfa",
            name: "untitled",
            position: (
                11.0,
                0.0,
            ),
            size: (
                4.0,
                4.0,
            ),
            exits: [],
            adjacent_rooms: [],
        ),
        /*[9]*/ (
            id: "b364f716-0752-40e1-8f23-1cfc049fdd87",
            name: "untitled",
            position: (
                14.0,
                5.0,
            ),
            size: (
                15.0,
                18.0,
            ),
            exits: [],
            adjacent_rooms: [
                /*[0]*/ "1c20bb7c-84a3-434f-8573-d39bcf63a677",
            ],
        ),
    ],
    starting_room: Some("b3fd9e1b-52f8-4079-9d87-78c8220d2ca5"),
    starting_position: Some((
        1.0,
        1.0,
    )),
)