(
    variants: [
        (
            id: "default",
            tilemap: (
                width: 7,
                height: 9,
                tiles: [
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                ],
                background: (0.78, 0.78, 0.78, 1.0),
            ),
        ),
    ],
)