(
    variants: [
        (
            id: "default",
            tilemap: (
                width: 5,
                height: 9,
                tiles: [
                    [
                        (
                            entity: ("b6f2d431-c460-4ac0-9155-8301ce009d58"),
                        ),
                        (
                            entity: ("977a0879-b533-40b4-837f-483d1c13b805"),
                        ),
                        (
                            entity: ("837f7755-614e-469a-ac71-f8f520d3908e"),
                        ),
                        (
                            entity: ("1f65d568-b123-4042-b5e7-c7ba4cf9be1c"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("636ef9dc-dffe-4a02-be27-47c1999bdb1f"),
                        ),
                        (
                            entity: ("830fe276-217c-4daf-a537-90c2a4d21345"),
                        ),
                        (
                            entity: ("b704c1f8-ef3f-47df-9a00-f2bc342640bb"),
                        ),
                        (
                            entity: ("ddda36d5-ee06-4ee9-b993-fa339b603819"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("59c1865f-e413-4d05-b650-868a6c011349"),
                        ),
                        (
                            entity: ("60740af5-d9bf-4f64-8bb3-9a4ae384593b"),
                        ),
                        (
                            entity: ("16663743-bae6-4fb5-ac7d-32908d6bf251"),
                        ),
                        (
                            entity: ("dc318e0d-a4ff-4c26-bfcd-a30ab087bb08"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("daeaf8bc-bf03-435a-adc4-e66dbce23b1d"),
                        ),
                        (
                            entity: ("2ab66b53-9682-4a2c-beaf-dcc9a5841115"),
                        ),
                        (
                            entity: ("c3bf8c3a-f59b-45d5-b4b1-6bd428e5c478"),
                        ),
                        (
                            entity: ("908bf521-4a19-4dae-ad83-3c5897f017d2"),
                        ),
                        (
                            entity: ("a96ce1cb-3ad8-4641-80ca-7c606f42b908"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                ],
                background: (0.78, 0.78, 0.78, 1.0),
            ),
        ),
    ],
)