(
    id: "4501288d-2b57-4f5d-9bb5-aed32e7c46c4",
    name: "World\r",
    world_ecs: (
        components: [
            /*[0]*/ (
                type_name: "TileSprite",
                data: "(\n    data: {},\n)",
            ),
            /*[1]*/ (
                type_name: "Player",
                data: "(\n    data: {\n        (\"164c6687-212c-47a4-8fc6-f0407a8efaef\"): (),\n    },\n)",
            ),
            /*[2]*/ (
                type_name: "Collider",
                data: "(\n    data: {\n        (\"164c6687-212c-47a4-8fc6-f0407a8efaef\"): (\n            width: 0.0,\n            height: 0.0,\n        ),\n    },\n)",
            ),
            /*[3]*/ (
                type_name: "RoomCamera",
                data: "(\n    data: {\n        (\"0537aede-cf88-4f97-9fea-4159e5f1f541\"): (\n            scalar_zoom: 0.01,\n        ),\n    },\n)",
            ),
            /*[4]*/ (
                type_name: "Velocity",
                data: "(\n    data: {\n        (\"164c6687-212c-47a4-8fc6-f0407a8efaef\"): (\n            x: 0.0,\n            y: 0.0,\n        ),\n    },\n)",
            ),
            /*[5]*/ (
                type_name: "CurrentRoom",
                data: "(\n    data: {\n        (\"0537aede-cf88-4f97-9fea-4159e5f1f541\"): (\"a65ed9f9-55b4-40c4-8b41-e6b6b3043087\"),\n        (\"164c6687-212c-47a4-8fc6-f0407a8efaef\"): (\"a65ed9f9-55b4-40c4-8b41-e6b6b3043087\"),\n    },\n)",
            ),
            /*[6]*/ (
                type_name: "Sprite",
                data: "(\n    data: {\n        (\"164c6687-212c-47a4-8fc6-f0407a8efaef\"): (\n            sprite_id: (\"f233d3e6-1a76-471b-a620-d03fceb78035\"),\n            path: \"/Users/charliesovn/Projects/Aseprite/Entity1.png\",\n        ),\n    },\n)",
            ),
            /*[7]*/ (
                type_name: "Position",
                data: "(\n    data: {\n        (\"164c6687-212c-47a4-8fc6-f0407a8efaef\"): (\n            position: (71.89757, 50.51563),\n        ),\n        (\"0537aede-cf88-4f97-9fea-4159e5f1f541\"): (\n            position: (0.0, 0.0),\n        ),\n    },\n)",
            ),
        ],
        tile_defs: {},
    ),
    rooms: [
        /*[0]*/ (
            id: "a65ed9f9-55b4-40c4-8b41-e6b6b3043087",
            name: "untitled",
            position: (
                0.0,
                0.0,
            ),
            size: (
                10.0,
                5.0,
            ),
            exits: [],
            adjacent_rooms: [],
            variants: [
                /*[0]*/ (
                    id: "default",
                    tilemap: (
                        width: 10,
                        height: 5,
                        tiles: [
                            /*[0]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[1]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[2]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[3]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                            /*[4]*/ [
                                /*[0]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[1]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[2]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[3]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[4]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[5]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[6]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[7]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[8]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                                /*[9]*/ (
                                    entity: ("00000000-0000-0000-0000-000000000000"),
                                ),
                            ],
                        ],
                        background: (
                            0.78,
                            0.78,
                            0.78,
                            1.0,
                        ),
                    ),
                ),
            ],
        ),
    ],
    starting_room: Some("a65ed9f9-55b4-40c4-8b41-e6b6b3043087"),
    starting_position: Some((
        1.0,
        1.0,
    )),
)