(
    id: "4ea267e1-1055-4d67-a485-6b6b4c10fe00",
    name: "World\r",
    rooms_metadata: [
        /*[0]*/ (
            id: "de0ae66e-8181-423a-b07c-e00125072279",
            name: "untitled",
            position: (
                -2.0,
                -8.0,
            ),
            size: (
                10.0,
                13.0,
            ),
            exits: [
                /*[0]*/ (
                    position: (
                        0.0,
                        -1.0,
                    ),
                    direction: Up,
                    target_room_id: None,
                ),
            ],
            adjacent_rooms: [
                /*[0]*/ "8444401c-cbc4-4a00-9ba1-e12e0aee171e",
                /*[1]*/ "fd3a8cd0-4861-498c-9a5c-76fd9df6e095",
                /*[2]*/ "f230a38b-1bf2-4aa6-a40a-7ef8519ef6f3",
            ],
        ),
        /*[1]*/ (
            id: "8444401c-cbc4-4a00-9ba1-e12e0aee171e",
            name: "untitled",
            position: (
                10.0,
                0.0,
            ),
            size: (
                4.0,
                4.0,
            ),
            exits: [],
            adjacent_rooms: [
                /*[0]*/ "de0ae66e-8181-423a-b07c-e00125072279",
                /*[1]*/ "f230a38b-1bf2-4aa6-a40a-7ef8519ef6f3",
            ],
        ),
        /*[2]*/ (
            id: "fd3a8cd0-4861-498c-9a5c-76fd9df6e095",
            name: "untitled",
            position: (
                0.0,
                5.0,
            ),
            size: (
                10.0,
                4.0,
            ),
            exits: [],
            adjacent_rooms: [
                /*[0]*/ "de0ae66e-8181-423a-b07c-e00125072279",
                /*[1]*/ "6394b92a-05f7-48b3-9307-622f1a3c6ffd",
                /*[2]*/ "f230a38b-1bf2-4aa6-a40a-7ef8519ef6f3",
            ],
        ),
        /*[3]*/ (
            id: "6394b92a-05f7-48b3-9307-622f1a3c6ffd",
            name: "untitled",
            position: (
                -8.0,
                9.0,
            ),
            size: (
                18.0,
                10.0,
            ),
            exits: [],
            adjacent_rooms: [
                /*[0]*/ "fd3a8cd0-4861-498c-9a5c-76fd9df6e095",
                /*[1]*/ "f230a38b-1bf2-4aa6-a40a-7ef8519ef6f3",
            ],
        ),
        /*[4]*/ (
            id: "f230a38b-1bf2-4aa6-a40a-7ef8519ef6f3",
            name: "untitled",
            position: (
                11.0,
                4.0,
            ),
            size: (
                4.0,
                17.0,
            ),
            exits: [],
            adjacent_rooms: [
                /*[0]*/ "de0ae66e-8181-423a-b07c-e00125072279",
                /*[1]*/ "8444401c-cbc4-4a00-9ba1-e12e0aee171e",
                /*[2]*/ "fd3a8cd0-4861-498c-9a5c-76fd9df6e095",
                /*[3]*/ "6394b92a-05f7-48b3-9307-622f1a3c6ffd",
            ],
        ),
        /*[5]*/ (
            id: "1d54dc90-acae-4257-96f2-0cb3bb1d6b34",
            name: "untitled",
            position: (
                16.0,
                -1.0,
            ),
            size: (
                0.0,
                0.0,
            ),
            exits: [],
            adjacent_rooms: [],
        ),
        /*[6]*/ (
            id: "f54b9ba6-5ab3-4d29-81fc-8842cb7bae49",
            name: "untitled",
            position: (
                10.0,
                -3.0,
            ),
            size: (
                0.0,
                0.0,
            ),
            exits: [],
            adjacent_rooms: [],
        ),
        /*[7]*/ (
            id: "dc854ba3-4c4c-4363-9b0f-3732f701d1f1",
            name: "untitled",
            position: (
                11.0,
                -6.0,
            ),
            size: (
                3.0,
                3.0,
            ),
            exits: [],
            adjacent_rooms: [],
        ),
    ],
    starting_room: Some("de0ae66e-8181-423a-b07c-e00125072279"),
    starting_position: Some((
        1.0,
        1.0,
    )),
)