(
    id: "b5d0f662-6638-4fea-b8f6-36682f581b1e",
    name: "World\r",
    ecs: (
        positions: (
            data: {
                ("1c9e7b5d-abd9-47a8-8a12-77fff223bfee"): (
                    position: (
                        377.6172,
                        150.34373,
                    ),
                ),
                ("d1bdf27a-dd62-4262-a4c4-60c46740a7db"): (
                    position: (
                        88.164055,
                        20.437492,
                    ),
                ),
                ("d3bc7a55-c219-4043-bc7e-ccdeafcab550"): (
                    position: (
                        36.449203,
                        112.76563,
                    ),
                ),
                ("d3382d2b-4f39-412c-a4df-dc76c31b229d"): (
                    position: (
                        354.9323,
                        249.87804,
                    ),
                ),
                ("efd54898-f302-4515-8e7e-12a1b83243a6"): (
                    position: (
                        303.0,
                        50.785156,
                    ),
                ),
                ("cbbde817-4f88-4448-9f7a-238a34a27b64"): (
                    position: (
                        82.097725,
                        132.34766,
                    ),
                ),
                ("3fc47ce8-4920-4093-a4cf-d40adab2cd9a"): (
                    position: (
                        53.19922,
                        80.13672,
                    ),
                ),
                ("fdcf9c5c-488e-418b-9574-021ce946f824"): (
                    position: (
                        161.92188,
                        93.48045,
                    ),
                ),
                ("a38cac9b-b4e6-4ace-9e4b-79929e1582bd"): (
                    position: (
                        -137.15233,
                        22.371109,
                    ),
                ),
                ("63d21a68-4d8c-4a40-a843-8a3d05410055"): (
                    position: (
                        295.04297,
                        128.69533,
                    ),
                ),
                ("6b0e12c5-96bb-4f99-975a-1f93796ed784"): (
                    position: (
                        1.0,
                        -1.0,
                    ),
                ),
                ("777bbe0d-9b54-43eb-b4ed-5d2e9b7d5b42"): (
                    position: (
                        21.371094,
                        148.73438,
                    ),
                ),
            },
        ),
        velocities: (
            data: {
                ("d3382d2b-4f39-412c-a4df-dc76c31b229d"): (
                    vel: (
                        0.0,
                        0.0,
                    ),
                ),
                ("777bbe0d-9b54-43eb-b4ed-5d2e9b7d5b42"): (
                    vel: (
                        0.0,
                        0.0,
                    ),
                ),
                ("fdcf9c5c-488e-418b-9574-021ce946f824"): (
                    vel: (
                        0.0,
                        0.0,
                    ),
                ),
                ("1c9e7b5d-abd9-47a8-8a12-77fff223bfee"): (
                    vel: (
                        0.0,
                        0.0,
                    ),
                ),
                ("63d21a68-4d8c-4a40-a843-8a3d05410055"): (
                    vel: (
                        0.0,
                        0.0,
                    ),
                ),
                ("efd54898-f302-4515-8e7e-12a1b83243a6"): (
                    vel: (
                        0.0,
                        0.0,
                    ),
                ),
                ("d1bdf27a-dd62-4262-a4c4-60c46740a7db"): (
                    vel: (
                        0.0,
                        0.0,
                    ),
                ),
                ("a38cac9b-b4e6-4ace-9e4b-79929e1582bd"): (
                    vel: (
                        0.0,
                        0.0,
                    ),
                ),
                ("3fc47ce8-4920-4093-a4cf-d40adab2cd9a"): (
                    vel: (
                        0.0,
                        0.0,
                    ),
                ),
                ("cbbde817-4f88-4448-9f7a-238a34a27b64"): (
                    vel: (
                        0.0,
                        0.0,
                    ),
                ),
                ("6b0e12c5-96bb-4f99-975a-1f93796ed784"): (
                    vel: (
                        0.0,
                        0.0,
                    ),
                ),
                ("d3bc7a55-c219-4043-bc7e-ccdeafcab550"): (
                    vel: (
                        0.0,
                        0.0,
                    ),
                ),
            },
        ),
        sprites: (
            data: {},
        ),
        component: (),
    ),
    rooms_metadata: [
        /*[0]*/ (
            id: "8f12fb4e-7647-43b0-9e58-e612ce21cc16",
            name: "untitled",
            position: (
                1.0,
                -1.0,
            ),
            size: (
                9.0,
                6.0,
            ),
            exits: [
                /*[0]*/ (
                    position: (
                        4.0,
                        5.0,
                    ),
                    direction: Right,
                    target_room_id: None,
                ),
                /*[1]*/ (
                    position: (
                        3.0,
                        -1.0,
                    ),
                    direction: Up,
                    target_room_id: None,
                ),
                /*[2]*/ (
                    position: (
                        0.0,
                        6.0,
                    ),
                    direction: Down,
                    target_room_id: None,
                ),
            ],
            adjacent_rooms: [],
        ),
        /*[1]*/ (
            id: "05e00225-255b-471b-8807-97a3b7c49496",
            name: "untitled",
            position: (
                -6.0,
                0.0,
            ),
            size: (
                7.0,
                5.0,
            ),
            exits: [],
            adjacent_rooms: [],
        ),
    ],
    starting_room: Some("8f12fb4e-7647-43b0-9e58-e612ce21cc16"),
    starting_position: Some((
        1.0,
        1.0,
    )),
)