(
    id: (2),
    name: "Cat 1",
    next_node_id: 2,
    root_node_id: 1,
    nodes: [
        (
            node_id: 1,
            parent_node_id: None,
            components: [
                (
                    type_name: "Transform",
                    ron: "(visible:true,position:(0.0,0.0),pivot:BottomCenter)",
                ),
                (
                    type_name: "Sprite",
                    ron: "(\n    sprite: (7),\n)",
                ),
                (
                    type_name: "Name",
                    ron: "(\"Cat\")",
                ),
            ],
        ),
    ],
)