(
    id: (3),
    name: "New Prefab",
    next_node_id: 5,
    root_node_id: 3,
    nodes: [
        (
            node_id: 3,
            parent_node_id: None,
            components: [
                (
                    type_name: "Transform",
                    ron: "(visible:true,position:(0.0,0.0),pivot:BottomCenter)",
                ),
                (
                    type_name: "Script",
                    ron: "(\n    script_id: (0),\n    data: (\n        fields: {},\n    ),\n)",
                ),
                (
                    type_name: "Name",
                    ron: "(\"Entity\")",
                ),
            ],
        ),
        (
            node_id: 4,
            parent_node_id: Some(3),
            components: [
                (
                    type_name: "Transform",
                    ron: "(visible:true,position:(0.0,0.0),pivot:BottomCenter)",
                ),
                (
                    type_name: "Name",
                    ron: "(\"Entity\")",
                ),
            ],
        ),
    ],
)