(
    id: "7a24d93b-6f56-4a23-b1e7-0fcfb17154e9",
    name: "WOrld\r",
    world_ecs: (
        components: [
            /*[0]*/ (
                type_name: "PhysicsBody",
                data: "(\n    data: {\n        (\"35049450-a9be-4fd7-b71f-509602d97f16\"): (),\n    },\n)",
            ),
            /*[1]*/ (
                type_name: "TileSprite",
                data: "(\n    data: {},\n)",
            ),
            /*[2]*/ (
                type_name: "Animation",
                data: "(\n    data: {},\n)",
            ),
            /*[3]*/ (
                type_name: "Collider",
                data: "(\n    data: {\n        (\"35049450-a9be-4fd7-b71f-509602d97f16\"): (\n            width: 0.0,\n            height: 0.0,\n        ),\n    },\n)",
            ),
            /*[4]*/ (
                type_name: "CurrentFrame",
                data: "(\n    data: {},\n)",
            ),
            /*[5]*/ (
                type_name: "Player",
                data: "(\n    data: {\n        (\"35049450-a9be-4fd7-b71f-509602d97f16\"): (),\n    },\n)",
            ),
            /*[6]*/ (
                type_name: "CurrentRoom",
                data: "(\n    data: {\n        (\"35049450-a9be-4fd7-b71f-509602d97f16\"): (\"c64ba734-7305-4630-8027-273048b5ba4b\"),\n        (\"ab811d02-f224-4086-9581-82e8eed2a093\"): (\"c64ba734-7305-4630-8027-273048b5ba4b\"),\n    },\n)",
            ),
            /*[7]*/ (
                type_name: "RoomCamera",
                data: "(\n    data: {\n        (\"ab811d02-f224-4086-9581-82e8eed2a093\"): (\n            scalar_zoom: 0.01,\n        ),\n    },\n)",
            ),
            /*[8]*/ (
                type_name: "Position",
                data: "(\n    data: {\n        (\"ab811d02-f224-4086-9581-82e8eed2a093\"): (\n            position: (0.0, 0.0),\n        ),\n        (\"35049450-a9be-4fd7-b71f-509602d97f16\"): (\n            position: (1.0, 1.0),\n        ),\n    },\n)",
            ),
            /*[9]*/ (
                type_name: "Velocity",
                data: "(\n    data: {\n        (\"35049450-a9be-4fd7-b71f-509602d97f16\"): (\n            x: 0.0,\n            y: 0.0,\n        ),\n    },\n)",
            ),
            /*[10]*/ (
                type_name: "Sprite",
                data: "(\n    data: {},\n)",
            ),
        ],
        tile_defs: {},
    ),
    rooms: [
        /*[0]*/ (
            id: "c64ba734-7305-4630-8027-273048b5ba4b",
            name: "untitled",
            position: (
                0.0,
                0.0,
            ),
            size: (
                10.0,
                5.0,
            ),
            exits: [],
            adjacent_rooms: [],
            variants: [
                /*[0]*/ (
                    id: "default",
                    tilemap: (
                        width: 10,
                        height: 5,
                        tiles: [
                            /*[0]*/ [
                                /*[0]*/ (),
                                /*[1]*/ (),
                                /*[2]*/ (),
                                /*[3]*/ (),
                                /*[4]*/ (),
                                /*[5]*/ (),
                                /*[6]*/ (),
                                /*[7]*/ (),
                                /*[8]*/ (),
                                /*[9]*/ (),
                            ],
                            /*[1]*/ [
                                /*[0]*/ (),
                                /*[1]*/ (),
                                /*[2]*/ (),
                                /*[3]*/ (),
                                /*[4]*/ (),
                                /*[5]*/ (),
                                /*[6]*/ (),
                                /*[7]*/ (),
                                /*[8]*/ (),
                                /*[9]*/ (),
                            ],
                            /*[2]*/ [
                                /*[0]*/ (),
                                /*[1]*/ (),
                                /*[2]*/ (),
                                /*[3]*/ (),
                                /*[4]*/ (),
                                /*[5]*/ (),
                                /*[6]*/ (),
                                /*[7]*/ (),
                                /*[8]*/ (),
                                /*[9]*/ (),
                            ],
                            /*[3]*/ [
                                /*[0]*/ (),
                                /*[1]*/ (),
                                /*[2]*/ (),
                                /*[3]*/ (),
                                /*[4]*/ (),
                                /*[5]*/ (),
                                /*[6]*/ (),
                                /*[7]*/ (),
                                /*[8]*/ (),
                                /*[9]*/ (),
                            ],
                            /*[4]*/ [
                                /*[0]*/ (),
                                /*[1]*/ (),
                                /*[2]*/ (),
                                /*[3]*/ (),
                                /*[4]*/ (),
                                /*[5]*/ (),
                                /*[6]*/ (),
                                /*[7]*/ (),
                                /*[8]*/ (),
                                /*[9]*/ (),
                            ],
                        ],
                        background: (
                            0.78,
                            0.78,
                            0.78,
                            1.0,
                        ),
                    ),
                ),
            ],
        ),
    ],
    starting_room: Some("c64ba734-7305-4630-8027-273048b5ba4b"),
    starting_position: Some((
        1.0,
        1.0,
    )),
)