name: Build Windows

on:
  push:         
    branches: ['*']   
  pull_request: 
    branches: ['*'] 

permissions:
  contents: write
  packages: write 

jobs: 
  build-windows:
    runs-on: windows-latest
    env:
      RELEASE_TAG: v0.1.0-windows-alpha
      RELEASE_ZIP: BishopEngine-Windows.zip 

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Rust Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-pc-windows-msvc
          override: true

      - name: Install cargo-make
        run: cargo install cargo-make

      - name: Run Windows Build
        working-directory: ./editor
        run: cargo make build-editor-windows

      - name: Zip Artefact  
        run: |
          $binary = "target\x86_64-pc-windows-msvc\release\Bishop.exe"
          $zip = "${{ env.RELEASE_ZIP }}"
          powershell -Command "Compress-Archive -Path $binary -DestinationPath $zip"
        shell: powershell

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.RELEASE_TAG }}        
          name: "Windows ${{ env.RELEASE_TAG }}"  
          draft: false
          prerelease: true                        
          generate_release_notes: true
          files: ${{ env.RELEASE_ZIP }}
          overwrite_files: true    
          make_latest: true                      
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}