name: macOS Build

on:
  pull_request:
    branches: [staging] 

jobs:
  build-mac:
    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Rust Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: aarch64-apple-darwin
          override: true

      - name: Install cargo-make
        run: cargo install cargo-make

      - name: Run macOS Build
        working-directory: ./editor
        run: cargo make release-editor-mac
