(
    variants: [
        (
            id: "default",
            tilemap: (
                width: 6,
                height: 7,
                tiles: [
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                    [
                        (
                            entity: ("79488419-eeac-48e9-83ec-b7eef0f9137b"),
                        ),
                        (
                            entity: ("2e733d25-4c2e-40b4-bc4c-6344fdfa97dc"),
                        ),
                        (
                            entity: ("ec867ac2-728c-497e-8732-cc89be1c7f1f"),
                        ),
                        (
                            entity: ("b580214f-1c2d-4d62-8882-73afba0d84d9"),
                        ),
                        (
                            entity: ("4764d895-a91b-4255-b532-e7161b6b9165"),
                        ),
                        (
                            entity: ("dbb9258e-276c-4e93-8605-81885e127003"),
                        ),
                    ],
                    [
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                        (
                            entity: ("00000000-0000-0000-0000-000000000000"),
                        ),
                    ],
                ],
                background: (0.78, 0.78, 0.78, 1.0),
            ),
        ),
    ],
)